.TheAbout2GeneralDiv {
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: poppins;
}

.TheAbout2SubGeneralDiv {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .TheAbout2SubGeneralDiv {
    width: 80%;
  }
}
